/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Satisfy&display=swap");
/* ====== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth !important;
}
/* html beaviours removing default */
a {
  text-decoration: none;
  color: black;
  font-size: clamp(12px, 2vw, 16px);
}
li {
  list-style: none;
}
/* animation */

@keyframes btn{
  0%{
    transform:scale(1);
  }
  50%{
    transform: scale(0.95);
  }
  100%{
    transform: scale(1.05);
  }
}
/* styling header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(128, 128, 128, 0.3);
  z-index: 1000;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  column-gap: 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
}
.explore {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.explore span {
  display: none;
  background-color: transparent;
  background: transparent;
}
.explore i {
  background-color: transparent;
  background: transparent;
}
.BookNow {
  padding: 0.6em 1.2em;
  font-size: clamp(9px, 2vw, 14px);
  border-radius: 20px;
  border: none;
  background-color: rgb(88, 126, 88);
  color: white;
}
.BookNow:active{
  cursor: pointer;
  animation: btn 0.3s linear;
}
.BookNow:hover{
  cursor: pointer;
}


.nav-btn {
  border: none;
}

@media (min-width: 769px) {
  #nav_item{
    position:relative;

    
}
#nav_item::after{
    content:'';
    position:absolute;
    width:100%;
    height:3px;
    background-color:rgb(88, 126, 88);
    left:0;
    bottom:-5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in;
    
}
#nav_item:hover::after{
    width:100%;
    transform: scaleX(1);
    
    transform-origin: left;
}
}
/* responsive navbar */
@media screen and (max-width: 768px) {
  .header {
    max-height: 70px;
  }
  .nav {
    max-width: 768px;
    position: relative;
    margin-top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav_list {
    position: fixed;
    top: 2.2rem;
    left: 0;
    right: 0;

    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    background-color: rgb(128, 128, 128, 0.3);
    z-index: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .nav_list li a {
    color: white;
  }

  .explore span {
    display: inline;
    background: transparent;
  }
  .fa {
    background: transparent;
  }
  .explore {
    min-width: 97.94px;
    height: 70px;
    margin-right: 0;
    vertical-align: middle;
    display: flex;
    justify-content: center;
  }

  .links {
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  .links.show {
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .explore .BookNow {
    padding: 0.6em 1.2em;
    font-size: clamp(12px, 2vw, 16px);
    border-radius: 6px;
    width: max-content;
    display: none;
  }
  .nav-btn {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0;
  }

  .nav-btn span {
    background: none !important;
    display: inline-block;
    padding: 0;
  }

  .nav-btn i {
    background: none !important;
    color: #000;
  }
}

/* Hero section  */

.main {
  height: 100vh;
  background-image: url("assets/images/home_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.main_container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.hero_head {
  font-size: clamp(48px, 2vw, 76px);
  color: #fefba7;
  font-family: "Satisfy", cursive;
  font-weight: 700;
  font-style: normal;
}
.hero_subhead {
  font-size: clamp(20px, 2vw, 24px);
  color: white;
  font-style: bold;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.explorenow {
  padding: 0.6em 1.2em;
  font-size: clamp(10px, 2vw, 16px);
  border-radius: 20px;
  border: none;
  background-color: rgb(88, 126, 88);
  color: white;
  margin-top: 0.6rem;
}
.explorenow:active{
  cursor: pointer;
  animation: btn 0.3s linear;
}
.explorenow:hover{
  cursor: pointer;
}
/* responsive hero  */
@media (max-width: 768px) {
  .hero_head {
    font-size: clamp(60px, 2vw, 80px);
    color: #fefba7;
    font-family: "Satisfy", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .hero_subhead {
    font-size: clamp(22px, 2vw, 26px);
    color: white;
    font-style: bold;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .explorenow {
    padding: 0.6em 1.2em;
    font-size: clamp(14px, 2vw, 22px);
    border-radius: 20px;
    border: none;
    background-color: rgb(88, 126, 88);
    color: white;
    margin-top: 1rem;
  }
  .main_container {
    margin-bottom: 100px;
  }
}

/* soul of kerala */

.soul_head {
  font-size: clamp(22px, 2vw, 32px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 2rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.carousel {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 3%,
    rgba(0, 0, 0, 1) 97%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 3%,
    rgba(0, 0, 0, 1) 97%,
    rgba(0, 0, 0, 0) 100%
  );
}
.carousel {
  margin: 100px;
  margin-top: 10px;

  display: flex;
  overflow-x: auto;
  gap: 2.5rem !important;

  padding-bottom: 5px;
  overflow-y: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em !important;
  animation: spin 40s infinite linear;
  margin-top: 50px;
}
.card {
  flex: 0 0 220px;

  min-height: 470px;
  max-height: 470px;
  height: 470px;
  min-width: 350px;
  padding: 0.5em;
  background: rgb(255, 255, 255);
  border-radius: 0.2em;
  text-align: center;
  align-content: center;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: translateY(-25px);

  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
.card_content {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  gap: 0.5rem;
  overflow-y: hidden;
}
.card_content img {
  width: 100% !important;
  height: auto;

  margin-top: 0 !important;
}
.card_content h2 {
  font-size: clamp(18px, 2vw, 24px);
  color: rgb(0, 0, 0);
}
.card_content p {
  font-size: clamp(14px, 2vw, 18px);
  color: rgb(0, 0, 0);
}

.card_btn {
  width: 50%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(136, 177, 136);
  color: white;
}
.card_btn:active{
  cursor: pointer;
  animation: btn 0.3s linear;
}
.card_btn:hover{
  cursor: pointer;
}

@media (max-width: 870px) {
  .carousel {
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 3%,
      rgba(0, 0, 0, 1) 97%,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 3%,
      rgba(0, 0, 0, 1) 97%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .carousel {
    margin: 25px;
    margin-top: 10px;

    display: flex;
    overflow-x: auto;
    gap: 2.5rem !important;

    padding-bottom: 5px;
    overflow-y: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em !important;
    animation: spin 40s infinite linear;
    margin-top: 50px;
  }
  .card {
    flex: 0 0 220px;

    min-height: 470px;
    max-height: 470px;
    height: 470px;
    min-width: 350px;
    padding: 0.5em;
    background: rgb(255, 255, 255);
    border-radius: 0.2em;
    text-align: center;
    align-content: center;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
  }

  .card:hover {
    transform: translateY(-25px);

    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.3);
  }
  @keyframes spin {
    from {
      translate: 0;
    }
    to {
      translate: -100%;
    }
  }
  .card_content {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    gap: 0.5rem;
    overflow-y: hidden;
  }
  .card_content img {
    width: 100% !important;
    height: auto;

    margin-top: 0 !important;
  }
  .card_content h2 {
    font-size: clamp(18px, 2vw, 24px);
    color: rgb(0, 0, 0);
  }
  .card_content p {
    font-size: clamp(14px, 2vw, 18px);
    color: rgb(0, 0, 0);
  }

  .card_btn {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(136, 177, 136);
    color: white;
  }
}

/* tradition  */

.traditions {
  width: 100%;
  display: flex;
  padding-bottom:2rem;
  padding-top: 3rem;
}
.tradition_main {
  width: 80%;
  margin: 0 auto;
}
.img {
  width: 50%;
}

.img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.tradition_main {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.content {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
.line {
  position: absolute;
  width: 9.3em;
  height: 8px;
  background-color: green;
  border-radius: 15px;
  top: 100px;
  left: -100px;
  transform: rotate(90deg);
}

.content_head {
  height: 50%;
  display: flex;
  align-items: center;
}
.content_head h2 {
  font-size: 3.5rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-left: 1.5rem;
}
.content p {
  font-size: clamp(20px, 2vw, 22px);
  margin-bottom: 3rem;
  margin-right: 1rem;
  margin-left: -2rem;
  line-height: 2.25rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

/* tradition responsive  */
@media (min-width: 1450px) {
  .line {
    top: 75px;
   
  }
}
@media (max-width: 1450px) {
  .line {
    top: 70px;
    left: -100px;
  }
  .content p {
    font-size: clamp(18px, 2vw, 20px);
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left: -2rem;
    line-height: 2.25rem;
  }
}
@media (max-width: 1260px) {
  .content p {
    font-size: clamp(12px, 2vw, 16px);
  }
  .con_h2 {
    font-size: 1.8rem !important;
    margin-left: -2rem !important;
  }
  .line {
    position: absolute;
    width: 5.5rem;
    height: 6px;
    top: 45px;
  }
  .content_head {
    height: 50%;
    display: flex;
    align-items: center !important;
  }
  .content p {
    font-size: clamp(13px, 2vw, 17px);
    
    margin-right: 2rem;
    margin-left: -3.5rem;
    line-height: 1.7rem;
  }
  .content_head {
    height: 50%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 960px) {
  .line {
    position: absolute;
    width: 5rem;
    height: 6px;
    top: 40px;
  }
  .content p {
    
    margin-right: 2rem;
    margin-left: -3.5rem;
    line-height: 1.5rem;
  }
  .con_h2 {
    margin-left: -2rem !important;
  }
}

@media (max-width: 900px) {
  .content p {
    font-size: clamp(11px, 2vw, 13px);
    
    margin-right: 2rem;
    margin-left: -3.5rem;
    line-height: 1.5rem;
  }
  .con_h2 {
    margin-left: -2rem !important;
    font-size: clamp(14px, 2vw, 18px);
  }
}
@media screen and (max-width:800px) {
  .traditions{
    width:100%;

  }
  .tradition_main{
    width:80%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
  }
  .img{
    width:100%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .img img{
    width:100%;
  }
  .content{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-4rem;
   
  }
  .con_h2{
    text-align: center;
    font-size: clamp(114px 2vw,16px);
    margin-bottom: 0px;
    padding:0px;
    margin-left: 0px !important;
  }
  .content p{
    margin:0px !important;
    padding: 2rem;
    text-align: center;
    padding-top: 0px;
    margin-top: -2rem !important;
    font-size: clamp(14px, 2vw, 18px);
    

  }
  .line{
    display: none;
  }

}



/* tradition list */

.tradition_container{
  display: flex;
  flex-direction: column;
  gap:40px;
  padding:50px;
  max-width:900px;
  margin:auto;
}
.tra1{
  display:flex;
  align-items: center;
  position:relative;
}
.circle{
  width:200px;
  height:200px;
  border-radius: 50%;
  overflow: hidden;
  z-index:2;
  flex-shrink:0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.circle img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.rect{
  background-color: #EBE8E8;
  padding:30px 40px 30px 120px;
  border-radius: 100px;
  margin-left: -90px;
  z-index: 1;
  flex-grow: 1;
}
.tra2{
  display:flex;
  align-items: center;
  position:relative;
  flex-direction: row-reverse;
}

.tra2 .rect{
  margin-left: 0;
  margin-right: -90px;
  padding:30px 120px 30px 40px;
  text-align: right;
}

@media(max-width:768px){
  .tradition_container{
    padding:20px 10px;
    gap:30px;
  }
.tra1,.tra2{
  flex-direction:column ;
  align-items: center;
  text-align: center;
}
.circle{
  width:140px;
  height:140px;
  margin:0 !important;
  z-index: 2;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.2) ;
}
.rect,.tra2 .rect{
  margin-top:-50px;
  margin-left: 0;
  margin-right: 0;
  padding: 60px 20px 25px 20px;
  border-radius: 40px;
  width:100%;
  max-width: 320px;
}
.rect h3{
  font-size: 1.2rem;
  margin-bottom: 8px;
  text-align: center;
}
.rect p{
  font-size: 0.9rem;
  line-height: 1.4;
  text-align: center;
}
}


.destn h1{
    text-align:center;
    margin:3em;
    font-size:clamp(26px,2vw,36px);
}
.destn{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.card_grid{
    width:75%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:2rem;
    margin:0 auto;

}

@media(max-width:650px){
  .card_grid{
    gap:1rem !important;
  }
  .destn h1{
    font-size: clamp(22px,2vw,30px);
  }
  .vediogallery h1{
    font-size: clamp(22px,2vw,30px);;
  }
}
.destn_card{
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  position: relative;
}
.destn_card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor:pointer
    
}
.destn_card .image{
    
    width:100%;
    height:auto;
    aspect-ratio: 9/11;
    object-fit: cover;
    margin:0;
    overflow: hidden;
    
}
.destn_card h2{
  position:absolute;
  
  left:50%;
  transform: translateX(-50%);
  bottom:5%;
  font-size: clamp(24px,2vw,34px);
  color:white;
  transition: all 0.3s ease-in-out;

}
.destn_card:hover h2{
  bottom:8%;
}
.videogallery h1{
  font-size: clamp(28px,2vw,34px);
  margin:3rem;
}




@media (min-width:768px){
  .videogallery{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-grid{
  width:70% !important;
  margin:0 auto;
}
.video-card iframe {
  width: 100%;
  aspect-ratio: 16
  
}
}



.videogallery{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.video-grid{
  width:85%;
  margin:0 auto;
}
.video-card iframe {
  width: 100%;
  aspect-ratio: 16/9;
  
}
footer{
  margin-top: 3rem;
}
.footer_container{
  background-color: #222;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
}
.footer_container p{
  font-size: clamp(12px,2vw,16px);
  padding: 1rem;
}
.footer_container h3{
  font-size: clamp(16px,2vw,20px);
  padding: 1rem;
}
.footer_list{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.footer_list li a{
  color:white;
  font-size: clamp(11px,2vw,14px);
}
.foot_line{
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-top: 2rem;
}
.end{
  padding:1rem;
  display: flex;
  justify-content: space-between;
}

@media (max-width:600px){

  .end{
    flex-direction: column;
  
    text-align: center;
  }
}